# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.pnpm-store/

# testing
/coverage

# next.js
/.next/
/out/
build/
dist/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Sistema (Lixo do Windows/Mac)
.DS_Store
Thumbs.db

# Ferramentas de Teste e Cobertura
coverage/
.nyc_output/

# IDEs (VS Code, JetBrains)
.vscode/
.idea/
*.swp
*.swo

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


# Específicos do seu projeto 
_ideias/
.qoder/